{
    # Debug
    debug

    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

{$PROJECT_HOST}

log

root * /var/www/html/public

php_fastcgi {$PROJECT_NAME}-php:9000

encode gzip zstd
file_server
